.avatar {
  margin: 30px;
  transition: all 300ms;
  z-index: 2;
  /* box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12); */
}

.avatar:hover {
    transform: scale(1.1);
}

.circle {
    width: 180px;
    height: 180px;
    background-color: rgb(253, 168, 201);
    position: absolute;
    left: 50%;
    top: 40px;
    transform: translateX(-40%);
    z-index: 1;
    border-radius: 50%;
    box-shadow: 0px 3px 3px -2px rgba(0,0,0,0.2), 0px 3px 4px 0px rgba(0,0,0,0.14), 0px 1px 8px 0px rgba(0,0,0,0.12);
}

.paper {
  max-width: 500px;
  width: 100%;
  min-height: 200px;
  position: relative;
}

.charityDonation {
    width: 100px;
    height: 100px;
    margin: 20px 0 20px 70px;
}
