.ilu {
    position: relaive;
    float:right;
    margin-right: 6rem;
    margin-top: -3rem;
}

.top {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.paper6 {
    height: 500px;
    justify-content: center;
   
}
.down {
    height: 13rem;
    width: 17rem;
    position: relative;
    margin-left: 11rem;
    margin-top: -8rem;
    

}