.ilu {
    position: relaive;
    float:right;
    margin-right: 6rem;
    margin-top: -3rem;
}

.top {
    margin-top: 8rem;
    margin-bottom: 3rem;
}

.paper6 {
    height: 500px;
    justify-content: center;
   
}
.down {
    height: 13rem;
    width: 17rem;
    position: relative;
    margin-left: 11rem;
    margin-top: -8rem;
    

}
.title {
    font-family: "'Hind',sans-serif";
    font-size: 1.5rem;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
}
#chart {
    height: 440px;
}

.tooltip-header {
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 500;
    padding-bottom: 5px;
    border-bottom: 1px solid #c5c5c5;
}

.tooltip-body {
    width: 170px;
}

.tooltip-body .series-name {
    font-weight: normal;
    opacity: 0.6;
    display: inline-block;
    line-height: 1.5;
    padding-right: 10px;
    width: 126px;
}

.tooltip-body .value-text {
    display: inline-block;
    line-height: 1.5;
    width: 30px;
}

.boxBorder {
    border: 20px solid rgb(60, 193, 250);
    height: 135px;
    color:grey;
}

.box {
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 20px;
   
    }