.ilu {
    position: relaive;
    float:right;
    margin-right: 6rem;
    margin-top: -3rem;
}

.top {
    margin-top: 7rem;
    margin-bottom: 2rem;
}
.flexContainer {
    display: flex;
    flex-direction: row;
    width: 1100px;
    height: 400px;
    margin-top: 1rem;
    margin-bottom: 2rem;
 position: relative;
   
    background-color: white;
}
.people {
 
    position: relative;
    
}

.font {
    font-size: 5px;
}

.paper6 {
    display: flex;
    height: 500px;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
}