

 .animalsList {
    display: inline-block;
   text-align: center;
 }

.filter {
    text-align: center;
    width: 100%;
    justify-content: space-between;
 
}

.header {
    text-align: center;
   margin-bottom: 1.5rem;
}

.removeAllFiltersButton {
    margin-top: 2rem;
}

.select {
width:240px;

}

@media (max-width: 800px) {
    .filter {
        text-align: center;
        width: 100%;
      display: block;
    }
    .select {
      width:180px;
    }

  }


@media (max-width: 600px) {
  .fromControl {
    font-size:1rem;
  }
}
