

 .animalsList {
    display: inline-block;
   text-align: center;
 }

.filter {
    text-align: center;
    width: 100%;
    justify-content: space-between;
 
}

.header {
    text-align: center;
   margin-bottom: 1.5rem;
}

.removeAllFiltersButton {
    margin-top: 2rem;
}

.select {
width:220px;
}

@media (max-width: 100px) {
    .filter {
        text-align: center;
        width: 100%;
      display: block;
    }
  }