.navSections {
    height: 100%;
    padding: 70px 0;
    background-color: #3c3d47;
    width: 350px;
    color: whitesmoke;
    font-family: 'Hind', sans-serif;   
}


.listItems {
    margin: 30px 0 ;
}

.petIcon {
    color: #3a3d4f;
}

.image{
    width: 300px;
    padding: 0 px;
}

.logoContainer {
    background-color: #3c3d47;
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
}

.logo {
    width: 70px;
}

.logoText {
    height: 80px;
    width: 200px;
}

