.navSections {
  height: 100%;
  padding: 100px 0 0;
  background-color: #3c3d47;
  width: 350px;
  color: whitesmoke;
  font-family: "Hind", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.listItems {
  margin: 30px 0;
}

.logoContainer {
  background-color: #3c3d47;
  width: 350px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.logo {
  width: 80px;
  top: 80px;
}

.logoText {
  height: 90px;
  top: 100px;
}
