.cardsContainer {
    display: flex;
    flex-wrap: wrap;
}
.animal-card {
    margin-left: 10px;
    margin-bottom: 10px;
    max-width: 300px;
    width: 300px;
    display: inline-block;
}

.card img {
    width: 200px;
    height: 200px;
    background-color: brown;
    margin: 0 auto;
    
 
}

.animal-card .card {
    height: 550px;
    border-radius: 4px;
    border: 1px solid black;
}




.animal-card-description {
    text-align: center;
}

.animal-card-description-extended {
/* display: none;  */
}
