#avatar {
    color: orange
  }

#text {
    padding: 10px;
}

.top {
    color: orange

}

#root {
    position: relative;
    padding: 20px;
    min-height: 350px;
  }

.buttons {
    display: inline-block;
    margin-right: 5px;
}

.success{
    align-items: center;
}