.container{
    display: block;
}

.userForm{
    padding: 10px;
}

.picture {
    color: black

}

.buttons {
    display: inline-block;
    margin-right: 5px;
}

.success{
    align-items: center;
}